<header>
  <%= link_to "Authors", "/authors" %>
  <%= link_to "Books", "/books" %>
</header>

<body>
  <h1>Authors</h1>

  <% @authors.each do |author| %>
    <h3><%= author.name %></h3>
    <p>Created At: <%= author.created_at %></p>
    <p><%= link_to "Update: #{author.name}", "/authors/#{author.id}/edit" %></p>
    <p><%= link_to "Delete: #{author.name}", "/authors/#{author.id}", method: :delete %></p>
  <% end %>

  <%= link_to "New Author", "/authors/new" %>
</body>
