<%= form_with url: "/books/#{@book.id}", method: :patch, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: :any %>
  </p>
  <p>
    <%= form.label :read %>
    <%= form.check_box :read %>
  </p>
  <%= form.submit "Update Book" %>
<% end %>
