<header>
  <%= link_to "Authors", "/authors" %>
  <%= link_to "Books", "/books" %>
</header>

<body>
  <h1><%= @book.name %></h1>
  <p>Rating: <%= @book.rating %></p>
  <p>Read: <%= @book.read %></p>
  <p>Created At: <%= @book.created_at %></p>
  <p>Updated At: <%= @book.updated_at %></p>

  <p><%= link_to "Update Book", "/books/#{@book.id}/edit" %></p>
  <p><%= link_to "Delete #{@book.name}", "/books/#{@book.id}", method: :delete %></p>
</body>
