<header>
  <%= link_to "Authors", "/authors" %>
  <%= link_to "Books", "/books" %>
</header>

<body>
  <h1>Books by: <%= @author.name %></h1>

  <% @books.each do |book| %>
    <h2> <%= book.name %> </h2>
    <p>Rating: <%= book.rating %> | Read: <%= book.read %></p>
    <p>Created At: <%= book.created_at %> | Updated At: <%= book.updated_at %></p>
  <% end %>

  <%= link_to "Create Book", "/authors/#{@author.id}/books/new" %>
  <%= link_to "Alphabetize Books", "/authors/#{@author.id}/books?sort=asc" %>
</body>
