<header>
  <%= link_to "Pediatricians", "/pediatricians" %>
  <%= link_to "Patients", '/patients' %>
</header>
<body>
<h1>Pediatrician and it's Patients</h1>
<h2><%=@doctor.name%></h2>
<%@babies.each do |baby|%>
<h4><%=baby.name%></h4>
<p><%=baby.age_in_months%></p>
<p><%=baby.full_term_birth%></p>
<%end%>
</body>
<footer>
  <%= link_to "Create New Patient", "/pediatricians/#{@doctor.id}/patients/new" %>
</footer>
