<%= form_with url:"/pediatricians/#{@doctor.id}", method: :patch, local: true do |form| %>
<h4>
  Editing: <%= @doctor.name %> <br>
</h4>
<p>
  <%= form.label :office %>
  <%= form.text_field :office %>
</p>
<p>
<%= form.label "Years Practicing" %>
<%= form.number_field :years_practicing %>
</p>
<p>
<%= form.label "Accepting Patients" %>
<%= form.check_box :accepting_patients %>
</p>
<%= form.submit "Submit" %>
<% end %>
