<h1><%= @doctor.name %></h1>
<p>Office Location: <%= @doctor.office %></p>
<p>Years Practicing: <%=@doctor.years_practicing %></p>
<p>Total Number of Patients: <%=@doctor.number_of_patients %></p>
<p>Accepting New Patients: <%= @doctor.accepting_patients %></p>
